---
import BaseHead from '../components/BaseHead.astro';
import AboutPage from '../components/templates/AboutPage';
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<BaseHead title="About - Carlos Viana" description="Get to know Carlos Viana, a full-stack developer with more then 7 years of experience." />
	</head>
	<body>
		<AboutPage client:load />
	</body>
</html>
